*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    width: 90%;
}

.header-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header2 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    position: relative;
}


input {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid black 2px;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 10px;

}

.input-img {
    position: absolute;
    width: 34px;
    height: 34.51px;
    top: 38px;
    right: 130px;
}

h3 {
    padding: 10px;
    font-size: 20px;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px;
    justify-content: center;
    position: fixed;
    z-index: 101;
    width: 40%;
    margin: 90px auto;
    border-radius: 5px;
    background-color: white;
    transform: translateY(-150%);
    visibility: hidden;
    transition: all 0.5s;
    
}


.bg-modal {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
}

.close-btn {
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 5px;
    font-size: 25px;
    color: white;
}

.close-btn:hover {
    cursor: pointer;
    color: black;
}

.bg-close {
    background: #c4c4c4;
    position: absolute;
    display: flex;
    justify-content: center;
    right: -15px;
    top: -10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
}

.modal-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-title{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-name {
    bottom: 130px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.modal-price {
    bottom: 130px;
    font-size: 20px;
}

.modal-desc {         
    font-size: 15px;
    font-family: Roboto, sans-serif;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.buy-btn {
    bottom: 10px;
    width: 90%;
    height: 50px;
    background-color: #FC6500;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.buy-btn:hover {
    cursor: pointer;
    letter-spacing: 1px;
    width: 93%;
}

.card-container {
    width: 210px;
    height: 280px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card-container:hover {
    background-color:#B0B0B0;
    cursor: pointer;
    transition: 0.3s;
}


.car-img {
    padding: 9px;
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.car-name {
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 22px;
    
}

.car-price {
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
}


.del-car {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    margin: 200px 10px auto;
    background-color: #FC6500;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 99;
    font-size: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.del-car:hover {
    width: 55px;
}

@media (max-width: 750px) {
    .container{padding-left: 30px; padding-right: 30px;}
    .input-img{right: 55px;}
    .car-container{justify-content: center;}
    .card-container{margin-right: 0;}
    .modal-container{width: 90%;}
    .modal-img{margin-top:25px;}
    .modal-name{left: 15px;}
    .modal-price{right: 15px;}
    .modal-desc{left: 15px;}

}